[{:itonami.blueprint/social-impact [:worker-safety :precision-quality :tooling-continuity]
  :itonami.blueprint/domain :manufacturing/metal-working-machine-tool-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "7223"
  :itonami.blueprint/name "Metal Working Machine Tool Coordination Practice"
  :itonami.blueprint/governor :machinist-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-7223"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
